html {
  position: relative;

  &::before {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: calc(var(--gap));
    content: '';
    opacity: 0.6;
    background: repeating-linear-gradient( -45deg, var(--neutral-color-30), var(--neutral-color-30) 1.25px, transparent 1.25px, transparent 6.25px );
  }
}

body {
  color: var(--color);
  background-color: var(--bg-color);
  accent-color: var(--accent-color);
}

[href] {
  text-decoration-line: var(--text-decoration-line);
  text-decoration-thickness: var(--text-decoration-thickness);
  text-decoration-color: var(--text-decoration-color);
  color: inherit;
  transition: text-decoration-color var(--transition-duration) var(--transition-timing-function); 

  &:hover {
    text-decoration-color: var(--text-decoration-hover-color);
  }

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 1px;
  }
}

picture {
  padding: 3rem;
  background-color: white;

  & img {
    margin-inline: auto;
  }
}