<article class="block">
  <h2 class="sr-text">{{ item.data.title }}</h2>
  <time datetime="{{ item.date | w3Date }}">{{ item.date | displayDate }}</time>
  {{ item.templateContent | safe }}
</article>