<footer>
  <p>Site content and code released under the <a href="{{ site.license.url }}"><abbr>{{ site.license.title }}</abbr></a> license. <a href="{{ site.repository }}">View source</a> on GitHub.</p>
</footer>
