<footer>
  <p class="rule-above">Site content and code released under the <a href="{{ site.license.url }}" class="sc">{{ site.license.title }}</a> license.<br /><a href="{{ site.repository }}">View source</a> on GitHub.</p>
</footer>
