<footer>
  <span></span>
  <p class="content rule-above">Content and code published under a <a href="{{ site.license.url }}" class="sc">{{ site.license.title }}</a> license. <a href="{{ site.repository }}">View on GitHub</a>.</p>
  <span></span>
</footer>
