---
title: Notes
layout: index
permalink: "/notes/{{ pagination.pageNumber + 1 }}/index.html"
pagination:
  data: collections.notes
  size: 10
  alias: notes
---

{% for item in notes %}
  {% include "partials/components/note.njk" %}
{% endfor %}
