<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include "./metadata.njk" %}
  {% include "./favicon.njk" %}
  <link rel="alternate" type="application/json" href="{{ site.url }}/feed.json" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  <link rel="micropub" href="{{ site.micropub_endpoint }}" />
  <link rel="me" href="{{ site.author.github }}" />
  <link rel="me" href="{{ site.author.mastodon }}" />
  <link rel="stylesheet" href="{% webpack 'main.css' %}">
</head>
